/* app/globals.css */
@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme inline {
  --color-brand-navy: #02274A;
  --color-brand-green: #3AA83C;
  --color-brand-blue: #1477D1;
  --color-brand-gold: #FDB926;
  --color-brand-white: #FBFCF9;
}

body {
  background-color: #FBFCF9;
  color: #111827;
}
